@import url(header.css);
@import url(footer.css);
@import url(reset.css);

body {
    padding: 0;
    margin: 0;
    background-image: url(../img/login/bgc.png);
    background-size:cover;
    font-family: 'Montserrat', sans-serif;
}
header{
    background-color: rgba(255, 255, 255, 0.8);
}
.menus__sub-menu {
    top: 20px;
    position: relative;
    font-size: 12px;
    margin: 0 50px 20px;
    cursor: pointer;
  }
  .menus__sub-menu >li >a{
    font-size: 12px;
   cursor: pointer;
   position: relative;
   top: -8.6px;
 }


.login-form{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);;
}

.overlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}


.box {
    display: inline-block;
    position: absolute;
    width: 400px;
    background-color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    box-shadow: 0 10px 10px 10px rgb(0, 0, 0, .2);
}

.header {
    background-image: url(../img/login/pexels-tansholpan-5102709.jpg);
    background-size: cover;
    padding: 90px 30px;
    color: white;
    border-radius: 15px 15px 0 0;
}

.header h4{
    font-size: 25px;
}
.header p {
    font-size: 15px;
}

.login-area {
    text-align: center;
    padding: 50px 50px 30px 50px;
}

.username,
.password {
    width: 100%;
    text-align: center;
    padding: 13px 0;
    border-radius: 20px;
    outline: none;
    border: none;
    color: white;
    background-color: rgba(10, 114, 71, 0.5);
    margin-bottom: 15px;
    transition: ,5s;
}

.username::placeholder,
.password::placeholder {
    color: rgba(255, 255, 255, .7);
}

.username:focus,
.password:focus {
    background-color: rgba(10, 114, 71, 0.5);
}

.submit {
    width: 150px;
    padding: 10px;
    background-color: rgb(10, 114, 79);
    border-radius: 10px;
    font-weight: bold;
    color: white;
    border: none;
    outline: none;
    margin: 10px;
    transition: .2s;
    cursor: pointer;
}

.submit:hover {
    background-color: #1f0344;
}

a {
    display: block;
    font-size: x-small;
    text-decoration: none;
    color: rgba(55, 10, 114, 1);
    margin-top: 10px;
}
.code-credit {
    text-align: center;
    padding: 1rem 0;
    color: var(--color-text-soft);
    border-top: 1px solid rgba(0,0,0,.3);
 }
 
 .code-credit > .link {
    font-weight: var(--font-semi);
    color: var(--color-green-apron);
 }
 
 .code-credit > .link:hover {
    text-decoration: underline;
 }
 footer{
    position:absolute;
    display: block;
    width: 100%;
    top: 90%;
    background-color: rgba(255, 255, 255, 0.8);
}